In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("car_data.csv")

In [3]:
df

     User ID  Gender  Age  AnnualSalary  Purchased
0        385    Male   35         20000          0
1        681    Male   40         43500          0
2        353    Male   49         74000          0
3        895    Male   40        107500          1
4        661    Male   25         79000          0
..       ...     ...  ...           ...        ...
995      863    Male   38         59000          0
996      800  Female   47         23500          0
997      407  Female   28        138500          1
998      299  Female   48        134000          1
999      687  Female   44         73500          0

[1000 rows x 5 columns]

In [4]:
df = df.drop(['User ID'],axis=1)

     Gender  Age  AnnualSalary  Purchased
0      Male   35         20000          0
1      Male   40         43500          0
2      Male   49         74000          0
3      Male   40        107500          1
4      Male   25         79000          0
..      ...  ...           ...        ...
995    Male   38         59000          0
996  Female   47         23500          0
997  Female   28        138500          1
998  Female   48        134000          1
999  Female   44         73500          0

[1000 rows x 4 columns]

In [6]:
from sklearn.preprocessing import LabelEncoder

In [7]:
le = LabelEncoder()

In [9]:
Gender = le.fit_transform(df['Gender'])

In [10]:
df = df.drop(['Gender'],axis=1)

In [11]:
df['Gender'] = Gender

In [13]:
y = df["Purchased"]
X = df.drop(["Purchased"],axis=1)

In [1]:
from sklearn.preprocessing import StandardScaler

In [16]:
from sklearn.model_selection import train_test_split

In [17]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [22]:
from sklearn.svm import SVC

In [23]:
sv = SVC()

In [24]:
sv.fit(X_train,y_train)

SVC()

In [25]:
sv.score(X_test,y_test)

0.7366666666666667